page-home {
  .schedule.list {
    background-color: transparent;
  }

  .scroll-content {
      text-align: center;
  }

  .sflogo {
      margin-bottom: 30px;
      height: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
  }

  .fdflogo {
    position: fixed;
    bottom: 0px;
    width: 40%;
    right: 5px;
  }

}

